body{
    background-color: rgb(248, 199, 232);
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.koho-medium {
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.app{
    background-color: whitesmoke;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
}